{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AVC. Про компанію</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FreeHTML5.co"/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    {% include 'navbar.html' %}

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
            style="background-image:url({% static 'images/img_bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Про нас</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-about-section">
        <div class="container">
            <div class="about-content">
                <div class="row animate-box">
                    <div class="col-md-6">
                        <img class="img-responsive" src="{% static 'images/work_4.jpg' %}" alt="about">
                    </div>
                    <div class="col-md-6 col-md-pull-1">
                        <div class="desc">
                            <h3>Про компанію</h3>
                            <p>"AVC. Company" пропонує тільки офіційне працевлаштування в Польщі, з дотриманням як
                                вітчизняного, так і Європейського законодавства. Наша компанія спеціалізується на
                                працевлаштуванні у сфері будівництва. Це - житлове будівництво, промислове та сфера, що
                                входить
                                у групу, яка займається обслуговуванням потреб будівельних фірм. </p>
                            <p>Наша мета - допомогти польським
                                компаніям знайти кваліфікованих працівників, а людям – гідну роботу. Офіційне
                                працевлаштування –
                                гарантія стабільності та впевненості у своїй праці та своєму майбутньому.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Наші Партнери</h2>
                    <p>Нам довіряють партнери</p>
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                            <div class="fh5co-staff">
                                <img src="{% static 'images/rosa.png' %}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                            <div class="fh5co-staff">
                                <img src="{% static 'images/radmot.png' %}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                            <div class="fh5co-staff">
                                <img src="{% static 'images/jarmex.png' %}">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><div class="col-sm-4 animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co-staff">
                            <img src="{% static 'images/kreator.png' %}">
                        </div>
                    </div></td>
                    <td><div class="col-sm-4 animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co-staff">
                            <img src="{% static 'images/zb.jpg' %}">
                        </div>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- countTo -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>
<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

