{% load static %}
{% load i18n %}
<footer id="" role="contentinfo" class="">
    <div class="overlay"></div>
    <div id="fh5co-footer" class="" style="background-image:url({% static 'images/img_bg_2.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-4 fh5co-widget">

                    <h3>{% trans 'Гарантії' %}</h3>
                    <p>{% trans '- Офіційне працевлаштування за договором' %}
                        <br>
                        {% trans '- Своєчасна оплата праці' %}
                        <br>
                        {% trans '- Запрошення від перевірених роботодавців' %}
                        <br>
                        {% trans '- Ліцензія Міністерства праці та соціальної політики (серія АБ №585074)' %}
                        <br>
                        {% trans '- Допомога в оформленні візи' %}
                        <br>
                        {% trans '- На ринку працевлаштування працюємо більше 10 років' %}
                        <br>
                    </p>
                    <p><a href="/about/">{% trans 'Більше' %}</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row copyright">

        <div class="col-md-12 text-center ">
            <p>
                <small class="block">&copy; 2019. All Rights Reserved.</small>
                <small class="block">Designed by <a href="http://night-sky-studios.com" target="_blank">Night
                    Sky Studios<a href="http://night-sky-studios.com" target="_blank"></a></a></small>
            </p>
            <p>
            <ul class="fh5co-social-icons">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                <li><a href="#"><i class="icon-dribbble"></i></a></li>
            </ul>
            </p>
        </div>
    </div>
</footer>