{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AVC. Головна</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="night-sky-studios.com"/>
    <meta name="keywords"
          content="construction, Робота в Польщі, Легальне працевлаштування в польщі, Робота, night sky studios"/>
    <meta name="author" content="Night Sky Studios"/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    {% include 'navbar.html' %}

    <header id="fh5co-header" class="fh5co-cover" role="banner"
            style="background-image:url({% static 'images/img_bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Ми на сторожі вашого перспективного майбутнього!</h1>
                            <h2>Ми завжди раді вашому візиту</h2>
                            <p><a href="/about/" class="btn btn-warning">Про нас</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div id="fh5co-section">
                <div class="col-nineth">
                    <div class="row">
                        <div class="col-third">
                            <div class="col-md-12">
								<span class="icon">
									<i class="icon-eye"></i>
								</span>
                                <div class="desc">
                                    <h3>Надійно.</h3>
                                    <p>Компанія AVC несе відповідальність за весь ланцюжок,- від подачі та оформлення
                                        документів у візових центрах - до легального працевлаштування та забезпечення
                                        соціального пакету</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="col-md-12">
								<span class="icon">
									<i class="icon-power"></i>
								</span>
                                <div class="desc">
                                    <h3>Якісно</h3>
                                    <p>Наші спеціалісти будуть супроводжувати Вас на всіх етапах працевлаштування та
                                        виїзду за кордон та нададуть безкоштовні послуги у проходженні медкомісіі та
                                        техніки безпеки. Також надається безкоштовне житло.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="col-md-12">
								<span class="icon">
									<i class="icon-laptop"></i>
								</span>
                                <div class="desc">
                                    <h3>Швидко</h3>
                                    <p>Строк від подачі документів до початку роботи складає - від 14 до 30 днів</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-forth fh5co-video fh5co-bg"
                     style="background-image: url({% static 'images/image_1.jpg' %})">
                    <a href="https://www.youtube.com/watch?v=vRGqYL0XGOA" class="popup-vimeo"><i
                            class="icon-video2"></i></a>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="fh5co-bg-section">
        <div class="container">
            <div class="row">
                <div id="fh5co-features-2">
                    <div class="col-feature-9">
                        <div class="row">
                            <div class="col-md-12 fh5co-heading animate-box">
                                <h2>Особливості</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-md-pull-2 col-sm-pull-2 animate-box"
                                 data-animate-effect="fadeInRight">
                                <div class="feature-image">
                                    <img src="{% static 'images/work_1.jpg' %}" alt="work">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
                                    <div class="feature-copy">
                                        <h3>Офіційність</h3>
                                        <p>Лише офіційне працевлаштування з дотриманням усіх вимог законодавства.</p>
                                    </div>
                                </div>

                                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
                                    <div class="feature-copy">
                                        <h3>Вакансії </h3>
                                        <p>Компанія "AVC. Company" володіє найактуальнішим списком вакансій.</p>
                                    </div>
                                </div>

                                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
                                    <div class="feature-copy">
                                        <h3>Стабільність</h3>
                                        <p>Ми працюємо в даній сфері вже більше 10-ти років.</p>
                                    </div>
                                </div>

                                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
                                    <div class="feature-copy">
                                        <h3>Візова підтримка </h3>
                                        <p>Компанія "AVC. Company" надає повну візову підтримку.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-feature-3">
                        <div id="fh5co-counter" class="fh5co-bg fh5co-counter">
                            <div class="row">
                                <div class="display-t">
                                    <div class="display-tc">
                                        <div class="col-md-12 animate-box">
                                            <div class="feature-center">
                                                <span class="counter js-counter" data-from="0" data-to="856"
                                                      data-speed="5000" data-refresh-interval="50">1</span>
                                                <span class="counter-label">Робочі</span>

                                            </div>
                                        </div>
                                        <div class="col-md-12 animate-box">
                                            <div class="feature-center">
                                                <span class="counter js-counter" data-from="0" data-to="1500"
                                                      data-speed="5000" data-refresh-interval="50">1</span>
                                                <span class="counter-label">Задоволені клієнти</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 animate-box">
                                            <div class="feature-center">
                                                <span class="counter js-counter" data-from="0" data-to="608"
                                                      data-speed="5000" data-refresh-interval="50">1</span>
                                                <span class="counter-label">Актуальні пропозиції</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-portfolio">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>AVC.</h2>
                    <p>Один з лідерів ринку працевлаштування, що працює в секторі будівництва</p>
                </div>
            </div>
            <div class="row">
                <div class="project">
                    <div class="col-md-8 col-md-push-5 animate-box" data-animate-effect="fadeInLeft">
                        <img class="img-responsive" src="{% static 'images/work_2.jpg' %}" alt="work">
                    </div>
                    <div class="col-md-4 col-md-pull-8 animate-box" data-animate-effect="fadeInRight">
                        <div class="mt">
                            <h3>Етапи оформлення і працевлаштування</h3>
                            <ul class="list-nav">
                                <li><i class="icon-check"></i>Збір даних для оформлення запрошення</li>
                                <li><i class="icon-check"></i>Забезпечення кандидата запрошенням</li>
                                <li><i class="icon-check"></i>Консультація по проходженню митниці та доїзд до місця
                                    праці
                                </li>
                                <li><i class="icon-check"></i>Офіційне оформлення кандидата та підписання умови про
                                    працю ( сюди входять медкомісія та проходження техніки безпеки)
                                </li>
                                <li><i class="icon-check"></i>Безкоштовне забезпечення працівника спецодягом</li>
                                <li><i class="icon-check"></i>Безкоштовне забезпечення працівника житлом</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="col-md-8 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                        <img class="img-responsive" src="{% static 'images/work_3.jpg' %}" alt="work">
                    </div>
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInRight">
                        <div class="mt">
                            <div>
                                <h4><i class="icon-user"></i>Оплата праці</h4>
                                <p>Перший місяць праці - щотижня надаються аванси
                                    Оплата - згідно кваліфікації два рази в місяць </p>
                            </div>
                            <div>
                                <h4><i class="icon-video2"></i>Робочий день</h4>
                                <p>5ти денний робочий тиждень. По бажанню працівника надається можливість роботи в
                                    суботу</p>
                            </div>
                            <div>
                                <h4><i class="icon-shield"></i>Доставка до робочого місця</h4>
                                <p>Зазвичай робоче місце знаходиться неподалік від місця проживання. В інших випадках
                                    трасфер до місця праці забезпечує собі працівник</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- countTo -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>
<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

