<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo"><a href="/home/">AVC.</a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li {% if index %}class="active"{% endif %}><a href="/">Головна</a></li>
                    <li {% if about %}class="active"{% endif %}><a href="/about/">Про компанію</a></li>
                    <li {% if services %}active {% endif %}><a href="/services/">Послуги</a></li>
                    <li {% if work %}class="active"{% endif %}><a href="/work/">Вакансії</a></li>
                    <li {% if contact %}class="active"{% endif %}><a href="/contact/">Контакти</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>